
<ion-content [fullscreen]="true">

  <div class="content-1">
      <div class="button-fermer" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </div>

    <h1 class="titre">COVID-19</h1>
  </div>
<ion-card>
  <div class="content-form">
    <form [formGroup]="formulaire" (ngSubmit)="openPageTest(formulaire.value)">
      <ion-item>
        <ion-label position="floating">Nom complet</ion-label>
        <ion-input inputmode="text" required formControlName="nomcomplet"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Âge</ion-label>
        <ion-input inputmode="numeric" required formControlName="age"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Contact</ion-label>
        <ion-input inputmode="tel" required formControlName="contact"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Profession</ion-label>
        <ion-input inputmode="text" required formControlName="profession"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Commune</ion-label>
        <ion-select required formControlName="commune" okText="Selectionner" cancelText="retour">
          <ion-select-option *ngFor="let item of communes" [value]="item.ville">{{item.ville}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button [disabled]="!formulaire.valid" expand="full" shape="round" type="submit">S'inscrire</ion-button>
      
    </form>
  </div>
</ion-card>

</ion-content>